
covid-effect-on-institutions.Rproj
.Rproj.user/shared/notebooks/paths
*.png
.Rproj.user/shared/notebooks/patch-chunk-names
*.json
.Rproj.user/47021FEB/sources/prop/INDEX
.Rproj.user/47021FEB/sources/prop/EB947C1B
.Rproj.user/47021FEB/sources/per/t/CEEC0861-contents
.Rproj.user/47021FEB/sources/per/t/CEEC0861
.Rproj.user/47021FEB/saved_source_markers
.Rproj.user/47021FEB/rmd-outputs
*.pper
